body {
    background-color: aqua;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 96vh;
}

#info-box {
    border-width: 1px;
    border-style: dashed;
}